$bg: #e9ebec;
$fg: #959595;

.wrp-menu-category {
    width: 11.2vw;
    height: 100vh;
    float: left;
    padding: 20px;
    padding-left: 0px;
    background-color: $bg;

    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    align-content: start;


    .category-box {
        width: 100%;
        height: min-content;
        border-radius: 10px;
        overflow: hidden;

        .category-image {
            width: 100%;
            background-color: $fg;
            aspect-ratio: 1/1;

            display: flex;
            justify-content: center;
            align-items: center;

            p {
                color: white;
                font-size: 50px;
            }
        }

        .category-name {
            width: 100%;
            background-color: white;
            font-weight: bold;
            text-align: center;
            white-space: nowrap;
            font-size: 20px;
        }
    }
}